.tableData{

	background-color: #fff;
	border:2px solid #e4e4e4;
	border-radius:15px;
	padding: 10px;
	margin: 20px;

	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;

}