.App {
  text-align: center;
  
}
.navbar{
  background-color: #b30047;

}
.nav-link{
  color: white;

}
.nav-link:visited{
  color: white;
  background-color: #ff0066;
  
}

.container{
  background-color: #F8F8F8;
  
  min-height: 600px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
